#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(95, 95, 95);
}
h1 {
  font-size: large;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* text-shadow: 5px 5px 3px #fff; */
  color: black;
}

.plan-magasin {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto 20px;
  height: auto;
  border-radius: 5%;
  box-shadow: 5px 5px 2px rgb(186, 186, 186);
}

.store-button {
  width: 80px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  box-shadow: #fff 5px 5px 2px;
  color: #fff;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-button:hover {
  background-color: #0056b3;
}

.buttons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px auto;
}

.content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  .content-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

  .plan-magasin {
    flex: 1;
    max-width: 60%;
  }

  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: start;
    align-items: start;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px; /* Ajuste la hauteur de la fenêtre */
}

.modal-content {
  background: rgb(244, 231, 207); /* Bleu */
  padding: 20px;
  border-radius: 5%;
  border: solid 2px black;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: black; /* Blanc pour un bon contraste */
  font-weight: bold;
}
.modal-content button {
  background-color: #0056b3;
  border: #fff solid 1px;
  margin: 10px;
  font-weight: bold;
}
.modal-content input {
  background-color: aliceblue;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
.resultat {
  color: red;
  font-weight: bolder;
  font-size: larger;
}
